body{
    background-color: red;
}
    header{
        background-color: aqua;
        text-align: center;
        cursor: pointer;
        border-radius: 10%;
    }
    header:hover{
        background-color: blue;
    }
    nav{
        height: 100px;
        background-color: blueviolet;
    }
    footer{
        background-color: black;
        color: white;
        height: 50px;
    }
    table, tr, td{
        border: 1px solid red;
    }
    .btn{
        width: 70px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: pink;
        border-radius: 10%;
        text-align: center;
        box-sizing: border-box;
        border-color: black 1px solid;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: sandybrown;
    }
    .img{
        background-color: transparent;
        position: absolute;
        top: -70px;
        width: 200px;
        height: 200px;
        left: -75px;
    }
    p {
  animation-duration: 3s;
  animation-name: slidein;
  background-color: blue;
  
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
      background-color: red;
    margin-left: 0%;
    width: 100%;
  }
}
h2{
    text-align: center;
    margin-top: 100px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 200px;
    margin-bottom: 15px;
}
button{
    background-color: aqua;
    width: 100px;
}

.calculator {
    margin: auto;
    margin-top: 100px;
    width: 300px;
    
    
    
}

/* ------------------------------ 
------------- Display -----------
-------------------------------- */


.display {
    
    position: relative;
    width: 294px;
    height: 120px;
    border: 3px solid #2f2f2f;
    text-align: right;
    background-color: #2f2f2f;
    color: #fff;
}

.display p {
    height: 60px;
    background-color: #2f2f2f;
    position: absolute;
    bottom:0;
    right:0;
    font-size: 60px;
}
/* calculadora */

.buttons {
  margin-top: 4px;
}
.digit:hover {
    background-color: #dbdbdb;

}
.operator:hover {
    background-color: #f79132;
}

button {
    border: 1;
    outline: none;
    height: 75px;
    width: 75px;
    text-align: center;
    margin-top: -4px;
    margin-right: -4px;
    font-size: 25px;
}

#zero {
    width: 150px;
}

.operator {
    background-color: #f9800f;
    color: #fff;
}
#AC:hover {
     background-color: #e0dcdc
}
#AC {
    background-color: #c3c3c3;

}

#plus_minus:hover {
     background-color: #e0dcdc
}
#plus_minus {
    background-color: #c3c3c3;
}
#percent:hover {
     background-color: #e0dcdc
}
#percent {
    background-color: #c3c3c3;
}
.operator {
    height: 75px;
    width: 75px;
}
